root: true

env:
  node: true
  es6: true

extends:
  - "airbnb-base"

rules:
  valid-jsdoc:
      - warn
      -
        requireParamDescription: false
        requireReturnDescription: false
  brace-style:
      - error
      - stroustrup
  no-bitwise:
      - off
  space-before-function-paren:
      - error
      - always
